<h3>Lazy links and no-lazy links</h3>
<p>If you use LazyJaxDavis, All normal links' click invoke LazyJaxDavis's navigation behavior. LazyJaxDavis observes all links' click using jQuery's delegate. LazyJaxDavis hijacks all links as default. You should set "fetchstart" and "fetchend" events to make your site work.</p>
<div class="mod-nolazytestnav">
	<div class="mod-nolazytestnav-lazy">
		<div class="h">Lazy links</div>
		<div class="p">These links are normal links - just like &lt;a href=&quot;blahblah&quot;&gt;&lt;/a&gt;.<br>Click these to make sure that ajax navigation works.</div>
		<ul>
			<li><a href="{{ site.basedir }}/">Top page</a></li>
			{% for post in site.posts %}
				<li><a href="{{ site.basedir }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="mod-nolazytestnav-nolazy">
		<div class="h">No-lazy links</div>
		<div class="p">These links are no-lazy links. Each of these anchors has "apply-nolazy" in its class attribute. All links with this class do not invoke LazyJaxDavis's navigation. That is to say, these links are just normal link we see every websites.</div>
		<ul>
			<li><a class="apply-nolazy" href="{{ site.basedir }}/">Top page</a></li>
			{% for post in site.posts %}
				<li><a class="apply-nolazy" href="{{ site.basedir }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
