<div class="mod-side" id="sidenav">
	<!-- sidenav start -->
	<ul>
		<li><a href="{{ site.basedir }}/">top</a></li>
		{% for post in site.posts reversed %}
			{% if post.title == page.title %}
				<li>{{ post.title }}</li>
				<li>{{ post.title }}#foo</li>
				<li>{{ post.title }}#bar</li>
				<li>{{ post.title }}#moo</li>
			{% else %}
				<li><a href="{{ site.basedir }}{{ post.url }}">{{ post.title }}</a></li>
				<li><a href="{{ site.basedir }}{{ post.url }}#foo">{{ post.title }}#foo</a></li>
				<li><a href="{{ site.basedir }}{{ post.url }}#bar">{{ post.title }}#bar</a></li>
				<li><a href="{{ site.basedir }}{{ post.url }}#moo">{{ post.title }}#moo</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<!-- sidenav end -->
</div>
