<div class="mod-side">
	<div class="mod-sidenav" id="sidenav">
		<ul>
			<li class="first"><a href="{{ site.basedir }}/">Introduction</a></li>
			{% for post in site.posts reversed %}
				<li class="post"><a href="{{ site.basedir }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
		<ul>
			<li><a href="https://github.com/Takazudo/jQuery.LazyJaxDavis"><span>⇱</span> Project page</a></li>
			<li><a href="https://github.com/Takazudo/jQuery.LazyJaxDavis/tags"><span>⇱</span> Downloads</a></li>
		</ul>
	</div>
</div>
