<!doctype html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title>{{ site.title }} - {{ page.title }}</title>
<meta name="viewport" content="width=1000">
<link rel="stylesheet" href="/jQuery.LazyJaxDavis/demos/applied/common/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/jQuery.LazyJaxDavis/lib/davis.js"></script>
<script src="/jQuery.LazyJaxDavis/jquery.lazyjaxdavis.js"></script>
<script src="/jQuery.LazyJaxDavis/demos/applied/common/js/script.js"></script>
</head>
<body><div class="mod-all">

{% include header.html %}

<div class="mod-body">
	{% include sidenav.html %}
	<div class="mod-main" id="main">
			<div id="lazyjaxdavisroot">
			<!-- LazyJaxDavis start -->

			<div class="mod-article">
				{{ content }}
			</div>

			<!-- LazyJaxDavis end -->
			</div>
	</div>
</div>

{% include footer.html %}

</div></body>
</html>
