<!doctype html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title>{{ site.title }} - {{ page.title }}</title>
<meta name="viewport" content="width=1000">
<link rel="stylesheet" href="/jQuery.LazyJaxDavis/demos/applied/common/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/jQuery.LazyJaxDavis/lib/davis.js"></script>
<script src="/jQuery.LazyJaxDavis/jquery.lazyjaxdavis.js"></script>
<script src="/jQuery.LazyJaxDavis/demos/applied/common/js/script.js"></script>
</head>
<body><div class="mod-all">

{% include header.html %}

<div class="mod-body">
	{% include sidenav.html %}
	<div class="mod-main" id="main">
			<div id="lazyjaxdavisroot">
			<!-- LazyJaxDavis start -->

			<div class="mod-article">
				{{ content }}
			</div>

			<!-- LazyJaxDavis end -->
			</div>
	</div>
</div>

{% include footer.html %}

<div class="mod-githubribbon">
<a href="https://github.com/Takazudo/jQuery.LazyJaxDavis"><img src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
</div>

</div></body>
</html>
